<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1 class="hidden"><span data-i18n="publications.my_publications">Extended</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <!-- <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ"><i class="fa fa-graduation-cap fa-3x"></i></a></p> -->
      <!-- <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ">Google Scholar</i></a></p> -->
</div>
</div>

<div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul style="list-style-type: none; padding-left: 10px;">

        <li class="entry">
           <br />
          <h1 style="text-align: center;">More About Me</h1>
           <br />
          <h2><strong>What I have learned</strong></h2>
          As the son of an entrepreneur, I know what it means to have pride in an organization that you are an integral part of. While coding at a start-up company, I learned not only discipline, but also the joy of seeing my contribution positively impact the
  progression of the product. I love a challenge and my experience in the building of a successful multinational business has helped me develop many valuable skills within
  the technology sector. I have also gained a strong set of non-technical skills through my work in catering. I am eager to learn and grow, while being able to fully utilize the experience I have for your business.
        </li> <br />
        <h1 style="text-align: center;">My Responsibilities</h1>
         <br />
        <li class="entry">
          <h2><strong>Metova</strong></h2>
          Firstmost to be able to work in an autonomious way. <br />
          Worked with iOS developers modifing our API to their requests. <br />
          Contacting and working with clients to ensure deliverables meet expectations and submitted in a timely manner. <br />
          Maintained our hosting while refactoring various PHP & CMS based sites keeping them within standards. <br />
          Work with our Graphics Designs Team to create custom sites or new features<br />

        </li> <br />

        <li class="entry">
          <h2><strong>Eyenalyze</strong></h2>
          Designed, coded, and maintained a responsive web platform using PHP Laravel, HTML, and jQuery. <br />
          Modified and maintained a Custom web API. <br />
          Maintained automated EDI feeds using Laravel Forge. <br />
          Created custom parsers to regularly input invoice from our ftp server. <br />
        </li> <br />
        <h1 style="text-align: center;">My Hobbies</h1>
         <br />
        <li class="entry">
          <h2><strong>Photography</strong></h2>
          While I am always working on building to broaden my skill set. I believe that a healthy lifestyle out of work is needed as well.

          <a href="https://johnadorey.pixieset.com/japan/">[My Japan Trip]</a>
          <a href="https://www.instagram.com/stfrontlens/">[Insta]</a>
        </li> <br />

        <li class="entry">
          <h2><strong>Music</strong></h2>
          Throughout the years music has been a big part of my life. From the begining of playing guitar in our Church's youth group to later playing bass in a country band. <br />
          Notable achievement is being a 4 Time Arkansas Country Music Awards Winner <a href="https://www.arkansasonline.com/news/2018/jun/05/winners-inaugural-arkansas-country-music-awards-an/"> [Article]</a>
        </li> <br />

        <li class="entry">
          <h2><strong>Disc Golf</strong></h2>
          Since the pandemic, my friends and I were looking for a new way to spend time together and this has been a blast ever since. Arkansas has a great scene and we are lucky to have so many courses to pick from within a short distance.
          <a href="https://mydiscbag.com/bag?share=6389868093505536">[My Bag]</a>
        </li> <br />

        <li class="entry">
          <h2><strong>Gaming and Board games</strong></h2>
          A great way to relax is playing games with friends and family. Here are some of my favorites.
          <br /><br />
          <ul style="list-style:square">
            <li>Dota 2</li>
            <li>League</li>
            <li>MTG</li>
          </ul>
          <br />
          <ul style="list-style:square">
            <li>WingSpan</li>
            <li>Risk</li>
            <li>SmallWorld</li>
            <li>Settlers of Catan</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
